.GalleryContainer{
    @apply flex flex-row w-full h-full;
}
.GalleryContent{
    @apply flex flex-row justify-around flex-wrap w-full h-full px-4 py-10
    2xl:px-40

    border-b-[3px] border-x-[3px]
    md:border-b-[3px] border-gray-800 md:w-[90%] md:border-x-[0px]
}
.GallerySides{
    @apply hidden  lg:w-[5.5%] xl:w-[5.5%] 2xl:w-[5.4%]
    md:w-[5.8%]
    md:flex md:flex-col md:justify-center md:items-center
    md:h-auto md:border-x-[3px] md:border-b-[3px] md:border-gray-800;
}